In [18]:
import pandas as pd

data = pd.read_csv("mental_health_dataset.csv")
data[:5]

,age,gender,employment_status,work_environment,mental_health_history,seeks_treatment,stress_level,sleep_hours,physical_activity_days,depression_score,anxiety_score,social_support_score,productivity_score,mental_health_risk
0,56,Male,Employed,On-site,Yes,Yes,6,6.2,3,28,17,54,59.7,High
1,46,Female,Student,On-site,No,Yes,10,9.0,4,30,11,85,54.9,High
2,32,Female,Employed,On-site,Yes,No,7,7.7,2,24,7,62,61.3,Medium
3,60,Non-binary,Self-employed,On-site,No,No,4,4.5,4,6,0,95,97.0,Low
4,25,Female,Self-employed,On-site,Yes,Yes,3,5.4,0,24,12,70,69.0,High

Converting String Categorical Columns IntÄ± Meaningful Number Datas

In [19]:
from sklearn.preprocessing import LabelEncoder
categorical_cols = data.select_dtypes(include='object').columns
categorical_cols

Index(['gender', 'employment_status', 'work_environment',
       'mental_health_history', 'seeks_treatment', 'mental_health_risk'],
      dtype='object')

In [20]:
le = LabelEncoder()

for col in categorical_cols:
    data[col] = le.fit_transform(data[col])
    
data[:5]

,age,gender,employment_status,work_environment,mental_health_history,seeks_treatment,stress_level,sleep_hours,physical_activity_days,depression_score,anxiety_score,social_support_score,productivity_score,mental_health_risk
0,56,1,0,1,1,1,6,6.2,3,28,17,54,59.7,0
1,46,0,2,1,0,1,10,9.0,4,30,11,85,54.9,0
2,32,0,0,1,1,0,7,7.7,2,24,7,62,61.3,2
3,60,2,1,1,0,0,4,4.5,4,6,0,95,97.0,1
4,25,0,1,1,1,1,3,5.4,0,24,12,70,69.0,0

**According to labeling High:0 Low:1 Medium:2**

In [21]:
from sklearn.model_selection import train_test_split

X = data.drop(columns=["mental_health_risk"])
y = data["mental_health_risk"]

X_train ,X_test , y_train , y_test = train_test_split(X,y,test_size=0.2 )
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 13), (2000, 13), (8000,), (2000,))

In [22]:
from sklearn.ensemble import RandomForestClassifier

best_n_estimator = 0
best_model = None

for estimator in range(50, 400 , 50):
    model = RandomForestClassifier(n_estimators=100, random_state=42)
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    if score > best_n_estimator:
        best_n_estimator = estimator
        best_model = model
    print(f"Estimator: {estimator}\nScore: {score}\n")
print(f"Best n_estimators: {best_n_estimator}")

Estimator: 50
Score: 0.9765

Estimator: 100
Score: 0.9765

Estimator: 150
Score: 0.9765

Estimator: 200
Score: 0.9765

Estimator: 250
Score: 0.9765

Estimator: 300
Score: 0.9765

Estimator: 350
Score: 0.9765

Best n_estimators: 50

In [30]:
y_preds = model.predict(X_test[:5])
y_preds

array([1, 2, 1, 2, 0])

In [28]:
y_test[:5]

1268    1
7257    2
8462    1
330     2
6662    0
Name: mental_health_risk, dtype: int64